* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-weight: $font-weight-main;
  font-family: $font-family-main;
}

.title {
  text-align: center;
  padding: 3rem 0 2rem;
  font-size: 2.2rem;
  font-weight: $font-weight-bold;
}

.main {
  width: 100%;
  position: relative;
  font-size: $font-size-main;
}

.wrapper {
  width: 50%;
  margin: 0 auto;
}

.btn {
  border: 1px solid $color-darker;
  padding: .5rem;
  background-color: $color-row-bg;
  border-radius: $border-radius;
  @extend %transition;
  &:hover {
    @extend %box-shadow;
  }
}
