* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-weight: $font-weight-main;
  font-family: $font-family-main;
}

.title {
  text-align: center;
  font-weight: $font-weight-bold;
}

.main {
  font-size: $font-size-main;
}

.wrapper {
  width: 50%;
  margin: 0 auto;
}

